<a href="https://colab.research.google.com/github/VICDATA-A/Interview_Question_for_Beginner/blob/master/SET_%EB%93%B1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> 세트는 중복값제거 순서 없음!

In [ ]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}
print(set1)
print(set1a)

{1, 2, 3}
{1, 2, 3}

In [ ]:
type(set1)

set

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8, 9, 10}
A.intersection(B)

{4, 5}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A.difference(B)

{1, 2, 3}

In [ ]:
a = [1, 2 ,3 , 4 ,5]
type(a)

list

In [ ]:
b = tuple(a)
b

(1, 2, 3, 4, 5)

In [ ]:
c = set(a)
c

{1, 2, 3, 4, 5}

In [ ]:
list(b)

[1, 2, 3, 4, 5]

In [ ]:
list(c)

[1, 2, 3, 4, 5]

In [1]:
x = 75
if x > 90:
    print('Fass')
else:
    print('Fail')

Fail

In [8]:
x = 85
if x >= 90:
    print("Very good")
elif 90<= x < 90:
    print("Good")
else:
    print('Bad')

Bad

In [10]:
if x > 90:
    if x == 100:
        print('완벽')
    else:
        print('훌륭')
elif 80 <= x <90:
    print("잘했음")
else:
    print("노력필요")

잘했음

In [31]:
s = 0
for i in range(0, 6, 2): ## range(start, stop, step), stop은 미포함
    s += i
print(s)

6

In [49]:
result = []
for i in range(1, 11):
    result.append(i)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
count = 1
for i in range(2, 10):
    count += 1
    print('<',count,'단 >')
    for j in range(2, 10):
        print(i, '*', j, '=', i*j)
    print()

< 2 단 >
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

< 3 단 >
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

< 4 단 >
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

< 5 단 >
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

< 6 단 >
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

< 7 단 >
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

< 8 단 >
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

< 9 단 >
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [89]:
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print('x  | y')
for x in x_list:
    for y in y_list:
        print(x,'|',y)

x  | y
x1 | y1
x1 | y2
x2 | y1
x2 | y2

In [94]:
names = ['James', 'Robert', "Lisa", 'Mary']
scores = [95, 96, 97, 98]

for k in range(len(names)):
    print(names[k],'의 점수', scores[k],"점")

James 의 점수 95 점
Robert 의 점수 96 점
Lisa 의 점수 97 점
Mary 의 점수 98 점

In [99]:
name = ['jason', 'john', 'david', 'lisa']
scores = [66, 45, 88, 99]
for i in range(len(name)):
    print(name[i], scores[i])

jason 66
john 45
david 88
lisa 99

In [100]:
for name,scores in zip(name,scores):
    print(name,scores)

jason 66
john 45
david 88
lisa 99

TypeError: ignored

In [117]:
i = 0
sum = 0
print('i열|sum열')
while sum<20:
    i += 1
    sum += i
    print()
    print(i,'|',sum)

i열|sum열

1 | 1

2 | 3

3 | 6

4 | 10

5 | 15

6 | 21

In [121]:
k = 0
while True:
    k += 1

    if k > 3:
        break
    print(k)

1
2
3